h1,h2,li{
  color:brown;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
ul{
  list-style-image: url("images/tiny-coffee-cup.gif");
}
body{
  font-family: 'Open Sans', sans-serif;
  word-spacing:inherit;
  width:950px
}
p{
  text-align: justify;
  font-family:'Open Sans',sans-serif;
}
aside{
background-color:tan;
font-weight: bold;

}
